# Application Settings
APPLICATION_NAME="EPM GHG Agent"

# LangChain Settings
LLM_API_KEY=PLACEHOLDER
MODEL_NAME=gpt-4o

# SERP API
SERPER_API_KEY=PLACEHOLDER

# Web Crawler
FIRECRAWL_API_KEY=PLACEHOLDER